.header {
    padding: 1rem 0 3rem;
}

.banner {
    margin-top: -300px;
}
.title {
    color: #ffffff;
    font-size: 3rem;
    text-decoration: none;
}

.nav-list {
  display: flex;
  list-style-type: none;
  margin: 0;
}

.nav-item {
    color:#f8a6a6;
    font-size: 1.2rem;
    margin-right: 1.3rem;
    text-decoration: none;
}

.nav-item:hover{
    color: #913e3e;
}

.nav-item-active{
    color: #461111;
}